body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(180deg, #8a2be2, #e0b0ff);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}
